<a href="https://colab.research.google.com/github/VALeano/PLNG211-2-OLFU-QC/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comment

In [1]:
# This is a comment
print("Hello, world")

Hello, world

Python Variable

In [5]:
#Single variable
a = float(10)
b = -1

#multiple variables
a,b = float(8),-1


#string type

c = "Ela"

Print (a)

In [7]:
print (a)

#string type

c = str("Ela")
c

print(c)
print(c)
print(c)

8.0
Ela
Ela
Ela

Type () function

In [ ]:
print(type(d))
print(type(e))

Single Qoute or Double Qoute

In [8]:
f = "Jane"
print(f)
g = 'Jane'
print(g)

Jane
Jane

Multiple Variables

In [9]:
x=y=z="python"
print(x)
print(y)
print(z)

python
python
python

Output Variables

In [10]:
x = "enjoying"
y = "Python Programming is"

print(y+" " + x)

Python Programming is enjoying

Arithmetic Operations

In [11]:
a = 3%2
print(a)
b = 3//2
print(b)

c = 7
print(c**2)

1
1
49

Assignment Operators

In [12]:
c = 5
c+=3    # c = c+3  , c = 5+3
print(c)

8

Comparison Operators

In [13]:
i=5>2   #True
h = 3>5 #False
print(i)
print(h)

not(i or h)

True
False

False

Bitwise Operators

In [14]:
v = 10
v<<2

y = 2

y>>1

1